<!DOCTYPE html>
<hmtl lang="es">
	<head>
		<meta charset="UTF-8"/>
    <!--Un favicon es una pequeña imagen que se muestra junto al título de la página en la pestaña del navegador.-->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<title>Layout</title>
		<link href="css/index.css" rel="StyleSheet" type="text/css"/>
        <!--Link para poder poner los iconos-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
<body>

<div class="header">
  <h1>Página inicial de mi web</h1>
  <p>cambiar el tamaño de la ventana del navegador para ver el efecto.</p>
</div>

<div class="topnav">
    <a id="ini" href="index.html"><i class="fa-solid fa-house-chimney"></i>Inicio</a>
    <a id="con" href="contacto.html"><i class="fa-solid fa-address-card"></i>Contacto</a>
    <a id="pro" href="promocion.html"><i class="fa-solid fa-arrows-to-dot"></i>Promoción</a>
    <!--Con float ponemos el link a la dch en la misma linea con los otros enlaces-->
  <a href="#" style="float:right">Link</a>
</div>
<!--En la fila ponemos una columna a la izq-->
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Mi título</h2>
      <h5>Título descriptivo, 17 Junio 2022</h5>
      <div class="fakeimg" style="height:500px;">
        <img src="img/dog-cachorro_960_720.jpg" alt="golden" class="cachorro"/>
      </div>
      <p>Artículo...</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card">
      <h2>Encabezado</h2>
      <h5>Título descriptivo, 17 Junio 2022</h5>
      <div class="fakeimg" style="height:500px;">
        <img src="img/puppycarboncillo_960_720.jpg" alt="golden en carboncillo" class="cachorro"/>
      </div>
      <p>Artículo...</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <!--Y dentro de la misma fila tb ponemos columna dch-->
  <div class="rightcolumn">
    <div class="card">
        <h2>Sobre el autor</h2>
        <div class="fakeimg">
            <img src="img/marilyn2__340.png" alt="marilyn" class="retrato"/>
        </div>
        <p>In culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
        <h3>Post más improtantes</h3>
        <div class="fakeimg">
            <img src="img/animemujer_960_720.jpg" alt="retrato anime" class="retrato">
        </div>
        <p>Algo...</p>
        <div class="fakeimg">
            <img src="img/woman_960_720.png" alt="retrato anime" class="retrato">
        </div>
        <p>Algo...</p>
        <div class="fakeimg">
            <img src="img/woman2_960_720.png" alt="retrato anime" class="retrato">
        </div>
        <p>Algo...</p>
        </div>
    <div class="card">
      <h3>Seguidores</h3>
      <p>Algo...</p>
      <p>Algo...</p>
      <p>Algo...</p>
      <p>Algo...</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>copyright #Chus#</h2>
</div>

</body>
</html>


